// @import "./Vars.scss";
// @import "./Media.scss";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700&display=swap');

body
  margin: 0
  font-family: 'Mulish', sans-serif
  background: $main-color


*
  box-sizing: border-box

body
  background-color: whitesmoke;

.button
  background-color: rgba(255, 255, 255, .3)
  border: none
  border-radius: 25px
  color: white
  cursor: pointer
  font-size: 16px
  font-weight: bold
  font-family: 'Mulish', sans-serif
  height: 50px
  letter-spacing: 1px
  margin: 10px 0


::-webkit-scrollbar
  width: 10px
  height: 10px

::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 3px rgba(270 , 270, 270, 0.2)
  border-radius: 10px


::-webkit-scrollbar-thumb
  border-radius: 10px
  -webkit-box-shadow: inset 0 0 6px rgba(270 , 270, 270, 0.2)
